@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Protest+Riot&display=swap');

body{
  font-family: "Protest Riot", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #314644;
  height: 100vh;
}

main{
  background-color: #012724;
  padding: 10px 29px;
  color: #ffffff;
  border-radius: 12px;
  width: 550px;
  text-align: center;
}

.encrypt{
  text-align: center;
  display: none;
}

textarea{
  margin: 0 auto;
  font-weight: bold;
  background-color: #d8f8e1;
  border-color: #1b524c;
  padding: 5px;
}

h2{
  text-align: center;
  color: #c5ffd6;
  font-size: 1.2rem;
}

#encrypt-key{
  background-color: #d8f8e1;
  border: 1px solid #1b524c;
  padding: 2px 2px;
  font-weight: 500;
  width: 158px;
}

#plain-text{
  display: block;
  margin-top: 12px;
}

.btn{
  border-color: #cee40a !important;
  color: #c5ffd6;
}

.btn-checked{
  background-color: #cee40a !important;
}

button{
  width: 240px;
  font-size: 18px;
  background-color: #314644;
  border: none;
  color: #ffffff;
  padding: 10px 0;
  margin-bottom: 20px;
  cursor: pointer;
  font-weight: bold;
}

button:hover{
  background-color: #154b46;
}

button:active{
  background-color: #cee40a;
  color: #314644;
}

.cipher{
  display: none;
  background-color: #154b46;
  width: 240px;
  margin: 0 auto;
}

.cipher p{
  padding: 8px 6px;
  font-weight: 100;
}
