@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Protest+Riot&display=swap');

body{
  font-family: "Protest Riot", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #314644;
  height: 100vh;
}

main{
  background-color: #012724;
  padding: 30px 29px;
  color: #ffffff;
  border-radius: 12px;
  width: 550px;
  text-align: center;
}

h1{
  margin-bottom: 30px;
  font-size: 3.2rem;
}

.container h2, p{
  margin-bottom: 30px;
}

.encrypt{
  text-align: center;
  display: none;
}

.encrypt h2{
  margin: 20px 0;
}

.encrypt label{
  margin-bottom: 20px;
}

.encrypt button{
  margin-top: 10px;
  width: 300px;
  font-size: 22px;
  outline: none;
  background-color: #cee40a;
  border: 1px solid #012724;
  color: #012724;
  transition: all .5s ease-in-out;
}

.encrypt button:hover{
  background-color: #ffffff;
  border: 1px solid #c5ffd6;
}

textarea{
  margin: 0 auto;
  font-weight: bold;
  background-color: #d8f8e1;
  border-color: #1b524c;
  padding: 5px;
  font-family: 'Roboto', sans-serif;
}

h2{
  text-align: center;
  color: #c5ffd6;
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.container p{
  font-family: 'Roboto', sans-serif;
  color: #c4c4c4;
}

#plain-text{
  display: block;
  margin-top: 12px;
}

.btn{
  border-color: #cee40a !important;
  color: #ffffff;
  font-size: 22px;
}

.btn:active{
  background-color: #cee40a !important;
  color: #154b46 !important;
}

.btn:hover{
  background-color: #cee40a !important;
  color: #154b46 !important;
}

.btn-check:checked + .btn-primary{
  background-color: #cee40a !important;
  color: #154b46 !important;
}

.btn-check:not(:checked) + .btn-primary {
  background-color: transparent;
}

#cipher-keys:active{
  background-color: #c5ffd6;
}

.cipher, .plain-message{
  display: none;
  background-color: #154b46;
  /*width: 240px;*/
  margin: 0 auto;
}

.cipher p{
  padding: 8px 6px;
  font-weight: 100;
}

#cipher-message, #plain-text{
  color: #000;
  background-color: #fff;
  font-size: 1em;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  width: 100% !important;
}

.modal-title{
  color: #000;
}

.modal-header{
  background-color: #154b46;
}

.custom-text-center {
  position: relative;
  right: -120px;
  color: #fff;
}

#copy-btn, #copy-btn-2{
  position: relative;
  right: 180px;
  width: 100px;
}

#copy-btn:hover, #copy-btn-2:hover{
  color: #fff !important;
  background-color: #012724 !important;
}

#close-modal{
  background-color: #fff;
  cursor: pointer;
}

#status, #status-2 {
  margin-top: 10px;
  color: green;
}
